/*цвет основного текста #212121*/
/*вторичный цвет текста #757575/
/*белый #FFFFFF*/
/*акцент #2196F3*/
/*цвет иконок #AFB1B8*/

:root {
  --primary-text-color:#757575;
  --title-text-color:#212121;
  --accent-color:#2196F3;
  --primary-white-color:#FFFFFF;
  --social-link-collor:#AFB1B8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --primary-backgroud-color:#fff;
  --form-input-color: rgba(33, 33, 33, 0.2);
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background: var(--primary-white-color);
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
    
  
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
    
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
}





.box {
    display: flex;
    align-items: center;
    
}

h1,h2,h3,h4,p {
    margin-top: 0;
}

textarea {
    resize: none;
}


ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;}


       /*HEADER*/

.page-header {
    
    border-bottom: 1px solid #EEEEEE;
}

.logo-header {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: #000;
    text-decoration: none; 
    
}
.logo-color {
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--accent-color);
}

  /*site-nav*/

.site-nav {
    display: flex;
    gap:50px;
}



.site-nav .link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms var(--timing-function)
    
 }

 .site-nav .link.current::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;

 }

.site-nav .link:hover,
.site-nav .link:focus  {
    color: var(--accent-color);
    
}

.site-nav .link.current {
    color: var(--accent-color);
}



.contacts-link{
    display: flex;
    align-items: center;
    margin-left: auto;
    
}

.contacts-link .item-nav + .item-nav {
    margin-left: 50px;
}

.contacts-link a {
    display: flex;
    align-items: center;

    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms var(--timing-function)
    
    }

.contacts-link a:hover,
.contacts-link a:focus {
    color: var(--accent-color);
    
}

.icon-small {
    display: inline-block;
    width: 16px;
    height: 12px;
    margin-right:10px;
    padding:0px;
    stroke: currentColor;
    fill: currentColor;
}

.icon-phone {
    display: inline-block;
    width: 10px;
    height: 16px;
    margin-right: 10px;
    padding:0;
    stroke: currentColor;
    fill: currentColor;
}


/* main */

/*hero*/

.hero {
    min-height: 600px;
    max-width: 1600px;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #c4c4c4;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;


     }

.hero-title{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 696px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: var(--primary-white-color);
    }

.hero-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    border-radius: 4px;
    min-width: 216px;
    height: 50px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border: none;
    transition: background-color 250ms var(--timing-function)
}

.hero-btn:hover,
.hero-btn:focus {
    color: var(--primary-white-color);
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
}


.doing {
    padding-top: 0;
}

/*Наші Переваги*/
.thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom:30px;
}

.icon-advances {
    display: inline-block;
    width: 70px;
    height: 70px;
    
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.list {
    display: flex;
    gap: 30px;
}

.list-item {
    width: calc((100%-90px)/4);
    
}

/*.list .list-item + .list-item {
    margin-left: 30px;
}*/

.list-caption {
    margin-top: 0;
    margin-bottom: 10px;
    
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    color: var(--title-text-color);
}

.list-text {
    
    margin-bottom: 0;
    
    font-size: 14px;
    line-height: 1.7;
    color: var(--primary-text-color);
}

/*Чим ми займаємося*/

.heading {
    
    margin-bottom: 50px;
    
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--title-text-color);
}

/*Наша команда*/
.icon-link {
    display: flex;
    justify-content: center;
    gap: 10px;
    
}

.icon-link .link:hover, 
.icon-link .link:focus { 
    fill:var(--primary-white-color);
    background-color: var(--accent-color);
    
}

.icon-link  .link {
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--social-link-collor);
    transition: background-color 250ms var(--timing-function),
    fill 250ms var(--timing-function);
}

.icon-net {
    display: inline-block;
    width: 20px;
    height: 20px;
      
}





.comand {

    
    background-color: #F5F4FA;
}

.img-items {
    position: relative;
    flex-grow: 1;
}

.work-text {
    
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgba(47, 48, 58, 0.8);
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primary-white-color);
}




.img-list {
    display: flex;
    column-gap: 30px;
}


   

.img-item {
    
    
    text-align: center;
    background: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

/*.items .img-item + .img-item {
    margin-left: 30px;
}*/


.items {
    
    display: flex;
    gap: 30px;
}

.items-caption {
    
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.14;
    color: var(--title-text-color);
}

.items-text {
    
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.71;
    color: var(--primary-text-color);

    
}

.team {
    padding-top:30px;
    padding-bottom: 30px;
}

/*PORTFOLIO*/

.btn {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.btn .item-btn + .item-btn {
    margin-left: 8px;
}

.btn-portfolio {
    padding: 6px 22px;

    border-radius: 4px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: var(--title-text-color);
    background-color: #F5F4FA;
    border: none;
    transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
    
}

.btn .btn-portfolio:hover,
.btn .btn-portfolio:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    cursor: pointer;
    border: none;
    box-shadow: 0px 3px 1px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 8%), 0px 2px 2px rgb(0 0 0 / 12%);
    
    
}

.item {
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    padding-bottom: 94px;
}

/*.item-list {
    border: 1px solid #EEEEEE;
    width: 370px;
    text-align: center;
    margin-right: 30px;
    margin-bottom: 30px;
}*/

.item-list {
    /*width: calc((100% - 60px) / 3);*/
    flex-grow: 1;
    
}

.product-thumb {
    position: relative;
    overflow: hidden;
}



.product-thumb .text {
    font-size: 18px;
    line-height: 1.55;
    color: var(--primary-white-color);
}

.product-description {
    position: absolute;
    display: flex;
    left: 0;
    bottom: 0;
    padding: 63px 24px;
    transform: translateY(100%);
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transition: transform 250ms var(--timing-function);
    
    
}

.item-list:hover .product-description {
    transform: translateY(0);
}



.item-list:hover,
.item-list:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
    
}

.item-list:nth-child(3n) {
    margin-right: 0;
}

.item-list:nth-last-child(-n +3 ){
    margin-bottom: 0;
}

.item a {
    
    text-decoration: none;
}

.subject {
    
    margin-bottom: 0;
    
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.desc {
   
    margin-top: 4px;
    margin-bottom: 0;
    
    font-size: 16px;
    line-height: 1.87;
    color: var(--primary-text-color);
}

.item-list .border {
    padding: 20px 24px;
    border:1px solid #EEEEEE;
    border-top:none;
    
}


 
img {
    display: block;
}

/*Постійні Клієнти*/

.clients {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

}

.client-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: var(--social-link-collor);
    transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function);
}

.icon-clients {
    display: inline-block;
    width: 106px;
    height: 60px;
    fill:currentColor;
}

.client-link:hover,
.client-link:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    
}

/*footer*/

.footer-page {
    
    padding-top: 60px;
    padding-bottom: 60px;
    height: 252px;
    background-color: #2F303A;
}



.btm {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
   
   } 
    
    

.logo-footer {
    display: block;
    margin-bottom: 20px;
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--primary-white-color);
    text-decoration: none; 
 
}

 .contact-link .list-contact:not(:last-child) {
    margin-bottom: 9px;
}

.contact-link  {
    
    
}

.contact-link a {
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms var(--timing-function);

}

.contact-link a:hover,
.contact-link a:focus {
    color: var(--accent-color);
    
}
.color-contact {
    color: var(--primary-white-color);
    transition: color 250ms var(--timing-function);
}

.color-contact:hover,
.color-contact:focus {
    color: var(--accent-color);
    
}

.footer-social {
    margin-right: 93px;
    margin-left: 70px;
    width: 206px;
    height: 80px;
}

.join {
    
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.14;
    color: var(--primary-white-color);

}

.social-links {
    display: flex;
    justify-content: center;
    gap: 10px;
    
}

.soc-link {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 44px;
    height: 44px;
    background: #FFFFFF1A;
    border-radius: 50%;
    color: var(--primary-white-color);
    transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function);
}

.soc-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.soc-link:hover,
.soc-link:focus {
    background: var(--accent-color);
    
}

.subs {
    margin-top: 12px;
}

.subscription {
    width: 570px;
    display: flex;
    gap: 12px;
    justify-content: space-between;
}

.input-mail {
    flex: 1 1 auto;
    padding: 15px 16px;
    background-color: transparent;
    color: var(--primary-white-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

}

.subscribe-button {
    width: 200px;
    height: 50px;
    color: var(--primary-white-color);
    background-color: #188ce8;
    font-family: inherit;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    transition: background-color 250ms var(--timing-function);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
}

.sub-button {
    margin: 0;
}

.sub-button::after {
    content: '';
    width: 24px;
    height: 24px;
    margin-left: 10px;
    background-image: url(../images/icon-send.svg);
    background-size: contain;
}

.subscribe-button:hover,
.subscribe-button:focus {
    color: var(--primary-white-color);
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Backdrob modal*/
.backdrop {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 1;
    transition: opacity 250ms var(--timing-function);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: scale(1.1);
}

.modal {
    position: relative;
    min-width: 528px;
    min-height: 581px;
    padding: 40px;
    background-color: var(--primary-backgroud-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: scale(1);
    transition: transform 250ms var(--timing-function);
}

.button-close {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: inherit;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.button-close:hover,
.button-close:focus {
    fill: var(--accent-color);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-form {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    color: var(--title-text-color);
    text-align: center;
}

.form-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.form-icon {
    position: absolute;
    bottom: 11px;
    left: 12px;
}

.form-field {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.form-label {
    
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
}




.form-input {
    padding: 11px 12px;
    padding-left: 42px;
    border: 1px solid var(--form-input-color);
    border-radius: 4px;
    cursor: pointer;
}

.form-field:focus-within .form-icon {
    fill: var(--accent-color);
}

.form-field:focus-within .form-input,
.form-field:focus-within .comment {
    border: 1px solid var(--accent-color);
    outline: 0px solid var(--primary-white-color);
}

.form-input .from-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}

.form-field .comment {
    resize: none;
    min-height: 120px;
    padding: 12px 16px;
    border: 1px solid var(--form-input-color);
    border-radius: 4px;
    cursor: pointer;
}

.form-field:focus-within .icon {
    fill: var(--accent-color);
}

.form-field:focus-within .form-input,
.form-field:focus-within .comment {
    border: 1px solid var(--accent-color);
    outline: 0px solid var(--primary-white-color);
}

.input-wrap .icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}

.form-field .comment {
    resize: none;
    min-height: 120px;
    padding: 12px 16px;
    border: 1px solid var(--form-input-color);
    border-radius: 4px;
    cursor: pointer;
}

.form-field .comment::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

.policy-field {
    display: flex;
    align-items: center;
    margin: 20px auto 30px;
}

.policy-input {
    position: absolute;
    appearance: none;
    margin-right: 8px;
}

.policy-label {
    line-height: 1.7;
    margin-right: 6px;
}

.policy-link {
    text-decoration-line: underline;
    color: var(--accent-color);
}

.checkbox-icon {
    width: 16px;
    height: 15px;
    background-image: url(../images/uncheck.svg);
    background-size: contain;
    margin-right: 7px;
}

.policy-input:checked+.checkbox-icon {
    background-color: var(--accent-color);
    background-image: url(../images/icon-check.svg);
    border-radius: 2px;
}
